button{

    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff
        #09f
        #000

    );
    border-radius: 8px;
    color: white;
    display: flex;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    
}